[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    *.egg-info,
    .pytest_cache,
extend-ignore =
    E127,
    E128,
    E203,
    E221,
    E222,
    E231,
    E241,
    E251,
    E261,
    E262,
    E265,
    E266,
    E271,
    E272,
    E301,
    E302,
    E303,
    E305,
    E306,
    E401,
    E402,
    E501,
    E502,
    E701,
    E702,
    E703,
    E704,
    E711,
    E712,
    E713,
    E714,
    E721,
    E722,
    E731,
    E741,
    E743,
    F401,
    F403,
    F405,
    F541,
    F811,
    F821,
    F841,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    W605,
    N801,
    N802,
    N803,
    N806,
